html,
body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: row;
  background: #454343;
}

.sideBar {
  flex: 0 0 1;
  width: 100px;
  padding: 10px;
  border-right: 1px solid #111;
  border-radius: 3px;
  height: 80vh;
  background: #222121;
}

.sideBarItem {
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 12px;
  text-align: center;
  font-size: 0.5rem;
  padding: 10px;
  margin-top: 10px;
  background: #f6c54d;
}

.page {
  max-width: 100vw;
  flex: 1 1 auto;
  padding: 0 20px;
  margin: 20px;
  border: 0.2px solid;
}

.dropZone {
  flex: 0 0 auto;
  height: 30px;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: white;
  transition: 500ms all;
}

.component {
  height: 60px;
  padding: 10px;
  background: #454343;
}

.column {
  border: 1px solid #222121;
  flex: 1 1 100%;
  padding: 10px;
  transition: 500ms all;
}

.columns {
  display: flex;
  padding: 20px 0;
}

.columnContainer {
  display: flex;
}

.base {
  /* padding: 0.5rem 1rem; */
  background-color: #454343;
  border-radius: 10px;
  cursor: move;
}

.row {
  border: 1px solid #222121;
  background-color: #222121;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  color: white;
}

.trashDropZone {
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  display: flex;
  max-width: 100%;
  flex: 1;
  flex-direction: column;
  margin-bottom: 100px;
}
